.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  overflow: hidden;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 393px;
  height: 396px;
  background: linear-gradient(to bottom, #414141, #2d2d2d);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 0 35px;
  max-width: 320px;
}

.title {
  font-family: 'IBM Plex Serif', serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.4;
  color: white;
  margin: 0;
  margin-top: 131px;
}

.title strong {
  font-weight: 600;
}
